section {
    position: relative;
    /* height:  */
    min-height: 100vh;
}

html {
    font-size: 16px;
    cursor: default;
    -webkit-tap-highlight-color: transparent
}

body {
    margin: 0;
    font-weight: 300;
    background: #f3f2f1
}

#app {
    width: 100%;
    height: 100%;
    background-color: white;
}

.entitled {
    /* color: #284135; */
    font-weight: 500
}

#h1 {
    position: absolute;
    top: 16vh;
    left: 0;
    width: 100%
}

#openBtnC {
    position: absolute;
    top: 90vh;
    width: 100%;
    text-align: center;
    left: 0
}

.button-open {
  align-items: center;
  background: #FFFFFF;
  border: 0 solid #E2E8F0;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  box-sizing: border-box;
  color: #1A202C;
  display: inline-flex;
  font-family: Inter, sans-serif;
  font-size: 1rem;
  font-weight: 700;
  height: 32px;
  justify-content: center;
  line-height: 24px;
  overflow-wrap: break-word;
  padding: 24px;
  text-decoration: none;
  width: auto;
  border-radius: 8px;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

#kepada {
    font-family: 'Caveat', cursive;
    position: absolute;
    width: 100%;
    text-align: center;
    font-size: 24px;
    top: 75vh;
    left: 0
}

.line {
    margin: 12px 0 0;
    width: 24px;
    height: 4px;
    background: #c3c2c0
}

.page {
    position: absolute;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    background-color: #f3f2f1;
}

.page {
    max-width: 480px;
    min-height: 100vh;
    color: black;
    position: relative;
    margin: auto;
}

.txt-1 {
    font-size: 16px;
    line-height: 24px;
}

.txt-1,
.txt-2 {
    color: #75736f;
}

.txt-2 {
    font-size: 3.80952vw;
    line-height: 5.71429vw
}

#acara > div {
    margin-left: 48px;
}